<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto peti</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Proyecto peti</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Source/js/bootstrap.bundle.js"></script>
    <script src="~/Source/js/bootstrap.bundle.min.js"></script>
    <script src="~/Source/js/bootstrap.js"></script>
    <script src="~/Source/js/highcharts-more.js"></script>
    <script src="~/Source/js/highcharts.js"></script>
    <script src="~/Source/js/highcharts-3d.js"></script>
    <script src="~/Source/js/ini.js"></script>
    <script src="~/Source/js/jquery.js"></script>
    <script src="~/Source/js/jquery.form.js"></script>
    <script src="~/Source/js/jquery-3.7.1.min.js"></script>
    <script src="~/Source/js/exporting.js"></script>
    <script src="~/Source/js/bootstrap.min.js"></script>
    <link href="~/Source/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Source/css/highcharts.css" rel="stylesheet" />
    <script src="~/Source/js/jquery.validate.min.js"></script>
    <link href="~/Source/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("Scripts", false)
    <link href="~/Source/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Source/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Source/js/offline-exporting.js"></script>
</body>
</html>
